@import"./variables.sass" ;
@import "./modules/section1/section1.scss";
@import "./modules/section2/section2.scss";
@import "./modules/section3/section3.scss";
@import "./modules/section4/section4.scss";
@import"./modules/section5/section5.scss";
