body{
  background-color: rgb(225, 228, 197);
  font-family: Arial, Helvetica, sans-serif;
  padding: 40px;
 
}
 img {
 
   width: 80vw;
   height: 50vh;
   object-fit: cover;
  padding-left: 100px;
  padding-right: 50px;

 }
 .card{
  background-color: white;
  border-radius: 15px;

 }
 @media (max-width: 400px){
  body{
    background-color: unset;
    padding: unset;
  }
  img{
    width: 100%;
    height: 100%;
    padding: unset;
  }

 }