.section3{
    background-color: rgb(205, 138, 160);
    padding-left: 100px;
    padding-right: 50px;
}
h3{
    color: $mycolor ;
    
}
span{
     font-weight: 900; 
}
@media (max-width: 400px){
    .section3 {
        padding: unset;
    }
}
